﻿<style>
div.ama-biddings-zob110-pric
{
	width:550px;
	margin:0 auto;
}
</style>
<div class="ama-biddings-zob110-pric">
	Начальная цена продажи задаётся для каждого лота отдельно в соответствующем разделе!
</div>