﻿<style>
div.cpw-ama-prices-contract
{
	width: 250px;
}
div.cpw-ama-prices-contract div.row
{
	display:inline-block;
	width: 100%;
	margin-bottom: 3px;
}
div.cpw-ama-prices-contract div.row div.value
{
	float: right;
}
div.cpw-ama-prices-contract input
{
	text-align: right;
	width:70px;
}
div.cpw-ama-prices-contract input.date
{
	text-align: left;
	width:105px;
}
div.cpw-ama-prices-contract select
{
	width:100%;
}
</style>
<div class="cpw-ama-prices-contract">
	<div class="row">
		<select <%= obj.select_attrs('Редакция') %>>
			<option <%= obj.option_attrs('про') %>>Профессионал</option>
			<option <%= obj.option_attrs('лайт') %>>Лайт</option>
			<option <%= obj.option_attrs('ук') %>>Управляющая компания</option>
		</select>
	</div>
	<div class="row quantity">
		<div class="value"><input type="text" value="<%= obj.txt('Количество.АУ') %>" /></div>
		<label>- слотов АУ</label>
	</div>
	<div class="row quantity">
		<div class="value"><input type="text" value="<%= obj.txt('Количество.Рабочих_мест') %>" /></div>
		<label>- рабочих мест</label>
	</div>
	<div class="row quantity">
		<div class="value"><input type="text" value="<%= obj.txt('Количество.Предприятий') %>" /></div>
		<label>- слотов предприятий</label>
	</div>
	<div class="row">
		<div class="value"><input type="text" value="<%= obj.txt('Стоимость_компонентов') %>" /> руб.</div>
		<label>Стоимость</label>
	</div>
	<div class="row">
		<div class="value"><input class='date' type="text" value="<%= obj.txt('Техподдержка_до') %>" <%= obj.date_attrs() %> /></div>
		<label>Техподдержка до</label>
	</div>
</div>