﻿<style>
div.ama-biddings-bidding-view li.lot
{
    margin-bottom: 5px;
}
div.ama-biddings-bidding-view ol
{
	margin-top:0;
}
div.ama-biddings-bidding-view p
{
	font-size: small;
}
</style>
<div class="ama-biddings-bidding-view">
	<% var bidding= obj.model; %>

	<p>
		Наименование: <b><%= !bidding ? '' : bidding.Наименование %><% if (0) {%>Торги насчёт торгов<% } %></b>
		<br/>
		Окончание приёма заявок: 
		<%= !bidding || !bidding.Окончание_приёма_заявок ? '' : bidding.Окончание_приёма_заявок.дата %> 
		<%= !bidding || !bidding.Окончание_приёма_заявок ? '' : bidding.Окончание_приёма_заявок.время %><% if (0) {%>12.11.2016 12:00<% } %>; 

		Начало торгов: 
		<%= !bidding || !bidding.Начало_торгов ? '' : bidding.Начало_торгов.дата %> 
		<%= !bidding || !bidding.Начало_торгов ? '' : bidding.Начало_торгов.время %><% if (0) {%>13.11.2016 12:00<% } %>; 
		<br/>
		Форма торгов: <%= !bidding ? '' : bidding.Форма_торгов %><% if (0) {%>открытые торги<% } %>; 
		ЭТП: <%= !bidding || !bidding.ЭТП ? '' : bidding.ЭТП.text %><% if (0) {%>ООО Брабант<% } %>
	</p>

	<p>
		<% 
		var Процедура= !bidding || !bidding.Процедура || null==bidding.Процедура ? {} : bidding.Процедура;
		var АУ= !Процедура.Арбитражный_управляющий || null==Процедура.Арбитражный_управляющий ? {} : Процедура.Арбитражный_управляющий;
		var Должник= !Процедура.Должник || null==Процедура.Должник ? {} : Процедура.Должник;
		%>
		Должник: 
		<b><%= Должник.Наименование %><% if (0) {%>ООО Криво косо и дёшево<% } %></b> 
		(ИНН: <%= Должник.ИНН %><% if (0) {%>01234567890<% } %>, 
		ОГРН: <%= Должник.ОГРН %><% if (0) {%>0123456789011<% } %>, 
		адрес: <%= Должник.Адрес %><% if (0) {%>Ижевск, Ломоносова 21а<% } %>)
		<br/>

		Процедура: <%= Процедура.Тип_процедуры %><% if (0) {%>Конкурсное производство<% } %>, 
		АС: <%= Процедура.АС %><% if (0) {%>Местный арбитржаный суд<% } %>, 
		дело №<%= Процедура.Номер_дела_о_банкротстве %><% if (0) {%>2386678<% } %>
		<br/>

		АУ: 
		<b>
			<%= АУ.Фамилия %><% if (0) {%>Дереза<% } %> 
			<%= АУ.Имя %><% if (0) {%>Семён<% } %> 
			<%= АУ.Отчество %><% if (0) {%>Петрович<% } %>
		</b> 
		(ИНН: <%= АУ.ИНН %><% if (0) {%>01234567890<% } %>,
		 СРО: <%= Процедура.СРО %><% if (0) {%>Банда чёрная кошка<% } %>)
	</p>

	<p class="publications">
		Объявление на ЕФРСБ за номером <%= !bidding || !bidding.Объявление || !bidding.Объявление.ЕФРСБ ? '' : bidding.Объявление.ЕФРСБ.Номер %><% if (0) {%>11<% } %><br/>

		Объявление в федеральном СМИ от <%= !bidding || !bidding.Объявление || !bidding.Объявление.ФедеральноеСМИ ? '' : bidding.Объявление.ФедеральноеСМИ.дата %><% if (0) {%>1.1.2001<% } %><%
		if (bidding && bidding.Объявление && bidding.Объявление.ФедеральноеСМИ.номер_тиража && null!=bidding.Объявление.ФедеральноеСМИ.номер_тиража && ''!=bidding.Объявление.ФедеральноеСМИ.номер_тиража) { %>, 
		номер тиража <%= bidding.Объявление.ФедеральноеСМИ.номер_тиража %><% if (0) {%>5<% } %><% } %>
		<br/>

		Объявление в местном СМИ 
		<% if (bidding && bidding.Объявление && bidding.Объявление.МестноеСМИ.Наименование && null!=bidding.Объявление.МестноеСМИ.Наименование && ''!=bidding.Объявление.МестноеСМИ.Наименование) { %>
		"<%= bidding.Объявление.МестноеСМИ.Наименование %><% if (0) {%>антенна<% } %>"
		<% } %> 
		от <%= !bidding || !bidding.Объявление || !bidding.Объявление.МестноеСМИ ? '' : bidding.Объявление.МестноеСМИ.дата %><% if (0) {%>1.1.2001<% } %><% 
		if (bidding && bidding.Объявление && bidding.Объявление.МестноеСМИ.номер_тиража && null!=bidding.Объявление.МестноеСМИ.номер_тиража && ''!=bidding.Объявление.МестноеСМИ.номер_тиража) { %>, 
		номер тиража <%= bidding.Объявление.МестноеСМИ.номер_тиража %><% if (0) {%>5<% } %><% } %>
		<br/>
	</p>

	<span>Лоты:</span>
	<ol>
	<%	for (var i= 0; i < (!bidding || !bidding.Лоты ? 0 : bidding.Лоты.length); i++)
		{
			var Лот= bidding.Лоты[i];
		%>
		<li class="lot">
			<b><%= Лот.Наименование %><% if (0) {%>Жаба<% } %></b> 
			(
				Начальная цена: <b><%= Лот.Начальная_цена %><% if (0) {%>100<% } %></b> руб.; 
				Задаток: <%= Лот.Размер_задатка %><% if (0) {%>10<% } %> <%= Лот.Размер_задатка_ед %>; 
				Шаг: <%= Лот.Шаг_аукциона %><% if (0) {%>10<% } %> <%= Лот.Шаг_аукциона_ед %>
			)
			<br/>
			Краткое_описание: <%= Лот.Краткое_описание %><% if (0) {%>Просто жаба<% } %>; 
			<br/>
			Точный_адрес: <%= Лот.Точный_адрес %><% if (0) {%>Гринспинская трясина<% } %>; 
			<br/>
			<% var order= !Лот.Порядок_ознакомления || Лот.Порядок_ознакомления == ''|| Лот.Порядок_ознакомления==null || Лот.Порядок_ознакомления=="[object Object]"  
				? '' : Лот.Порядок_ознакомления; %>
			<% if (''!=order) { %>
			Порядок ознакомления: <%= order %><% if (0) {%>вплавь<% } %>; 
			<% } %>
		</li>
	<% } %>

	</ol>

</div>