﻿<style>
div.ama-biddings-zob110-reqc
{
	width:550px;
	margin:0 auto;
}
div.ama-biddings-zob110-reqc textarea
{
	margin-left:30px;
	width:calc(100% - 30px);
	height:3.7em;
}
</style>
<div class="ama-biddings-zob110-reqc">

	<div>
		Требования к участникам закрытых торгов:<br/>
		<textarea <%= obj.textarea_attrs('Требования_к_участникам_закрытых_торгов') %> ><%= obj.value() %></textarea>
	</div>

</div>