﻿<style>
div.ama-biddings-zob110-cntr
{
	width:550px;
	margin:0 auto;
	height:160px;
}
div.ama-biddings-zob110-cntr textarea
{
	margin-left:30px;
	width:calc(100% - 30px);
}
div.ama-biddings-zob110-cntr div.variant[data-variant="common"]  textarea
{
	height:120px;
}
div.ama-biddings-zob110-cntr span.sub-title
{
	padding-left:15px;
}
div.ama-biddings-zob110-cntr[data-variant="common"] div[data-variant="separate"]
,div.ama-biddings-zob110-cntr[data-variant="separate"] div[data-variant="common"]
{
	display:none;
}
</style>
<%
	var o= obj.value();
	if (!o)
		o= {};
	var variant= true!=o.Общим_текстом ? 'separate' : 'common';
%>
<div class="ama-biddings-zob110-cntr" data-variant="<%= variant %>">

	<span>Порядок и срок заключения договора купли-продажи</span> 
	(
	<label>
		<input type="checkbox" <%= obj.checkbox_attrs('Общим_текстом') %> />
		общим текстом
	</label>
	)
	:

	<div class='variant' data-variant="common">
		<textarea <%= obj.textarea_attrs('Порядок_и_срок_общим_текстом') %> ><%= obj.value() %></textarea>
	</div>

	<div class='variant' data-variant="separate">
		<div>
			<span class="sub-title">Порядок заключения договора купли-продажи:</span>
			<textarea <%= obj.textarea_attrs('Порядок') %> ><%= obj.value() %></textarea>
		</div>
		<div>
			<span class="sub-title">Срок заключения договора купли-продажи:</span>
			<textarea <%= obj.textarea_attrs('Срок') %> ><%= obj.value() %></textarea>
		</div>
	</div>

</div>