﻿<%
var r= (!obj 
	|| !obj.Регламенты 
	|| !obj.Регламенты.Регламент_купли_продажи 
	|| !obj.Регламенты.Регламент_купли_продажи.Заключение_договора)
	? {}
	: obj.Регламенты.Регламент_купли_продажи.Заключение_договора;
%>
<div>
	<% if (!r.Порядок) { %>
	<div>
		<i><%= r.Порядок_и_срок_общим_текстом %></i>
	</div>
	<% } else { %>
	<div>
		Порядок заключения договора купли-продажи:
		<i><%= r.Порядок %></i>
	</div>
	<div>
		Срок заключения договора купли-продажи:
		<i><%= r.Срок %></i>
	</div>
	<% } %>
</div>
