﻿<style>
div.ama-biddings-zob110-rwin
{
	width:550px;
	margin:0 auto;
}
div.ama-biddings-zob110-rwin textarea
{
	margin-left:30px;
	width:calc(100% - 30px);
	height:3.7em;
}
</style>
<div class="ama-biddings-zob110-rwin">

	<div>
		Порядок выявления победителя торгов:<br/>
		<textarea <%= obj.textarea_attrs('Порядок') %> ><%= obj.value() %></textarea>
	</div>

	<div>
		Критерии выявления победителя торгов:<br />
		<textarea <%= obj.textarea_attrs('Критерии') %> ><%= obj.value() %></textarea>
	</div>

</div>