﻿<style>
div.cpw-ama-prices-calculator
{
	display: inline-block;
}
div.cpw-ama-prices-calculator > table > tbody > tr.params > td
{
	padding-bottom: 10px;
	padding-right: 5px;
	min-width: 300px;
	min-height: 145px;
	vertical-align:top;
}
div.cpw-ama-prices-calculator > table > tbody > tr.dates input[type="text"]
{
	width: 100px;
}
div.cpw-ama-prices-calculator > table > tbody > tr.dates > td
{
	padding-bottom: 10px;
}
div.cpw-ama-prices-calculator > table > tbody > tr > td.calculation
{
	min-width:270px;
	vertical-align:top;
	padding-right:5px;
}
div.cpw-ama-prices-calculator[variant="Покупка"] > table > tbody .additional
,div.cpw-ama-prices-calculator[variant="Докупка"] > table > tbody .purchase
,div.cpw-ama-prices-calculator[variant="undefined"] > table > tbody .additional
,div.cpw-ama-prices-calculator[variant="undefined"] > table > tbody .purchase
{
	display: none;
}
div.cpw-ama-prices-calculator  div[model_field_name="Хочу.Купить"]
,div.cpw-ama-prices-calculator  div[model_field_name="Хочу.Докупить"]
,div.cpw-ama-prices-calculator  div[model_field_name="Предлагается.Купить"]
,div.cpw-ama-prices-calculator  div[model_field_name="Предлагается.Докупить"]
,div.cpw-ama-prices-calculator  div[model_field_name="Договор.Был"]
,div.cpw-ama-prices-calculator  div[model_field_name="Договор.Будет"]
{
	margin-left: 10px;
}
div.cpw-ama-prices-calculator div.calculation
{
	display: inline-block;
	min-width: 355px;
}
div.cpw-ama-prices-calculator div.comments
{
	font-size: small;
}
div.cpw-ama-prices-calculator div.comments li.critical { color: red; }
div.cpw-ama-prices-calculator div.comments li.important { color: green; font-weight: bold; }
</style>
<div class="cpw-ama-prices-calculator" variant="<%= !obj.model ? 'undefined' : obj.model.Тип %>">
	<table>
		<tr class="dates">
			<td>
				<label>Предпоследний&nbsp;релиз&nbsp;был:&nbsp;<input type="text" value="<%= obj.txt('Релиз.Предпоследний.Дата') %>" <%= obj.date_attrs() %> /></label>
			</td>
			<td style="text-align:center">
				<button class="calculate">Рассчитать</button> 
				<label>Пересчитывать <input type="checkbox" class="auto-recalc" checked="checked" /></label>
			</td>
			<td>
				<label>Дата рассчёта: </label>
				<input type="text" value="<%= obj.txt('Дата_рассчёта') %>" <%= obj.date_attrs() %> /> 
			</td>
		</tr>
		<tr>
			<td>
				<b>Хочется</b>
				<label>
					<input type="radio" <%= obj.radio_attrs('Тип','Покупка') %> />
					<span>купить</span>
				</label>
				<label>
					<input type="radio" <%= obj.radio_attrs('Тип','Докупка') %>/>
					<span>докупить</span>
				</label>
			</td>
			<td>
				<b>
					Предлагается 
					<span class="purchase">оплатить</span> 
					<span class="additional">доплатить</span>
					:
				</b>
			</td>
			<td>
				<b>
					Будет  
					<span class="purchase">оплачено</span> 
					<span class="additional">доплачено за</span>
					:
				</b>
			</td>
		</tr>
		<tr class="calculation">
			<td>
			</td>
			<td rowspan="4" class="calculation">
				<div class="calculation">Расcчёт предложения</div>
				<br/><br/>Пояснения:
				<div class="comments"></div>
			</td>
			<td>
			</td>
		</tr>
		<tr class="params purchase">
			<td>
				<%= obj.control('Хочу.Купить') %>
				<% if (0) { %>параметры желаемой покупки<% } %>
			</td>
			<td>
				<%= obj.control('Предлагается.Купить') %>
				<% if (0) { %>параметры предлагаемой покупки<% } %>
			</td>
		</tr>
		<tr class="params additional">
			<td>
				<%= obj.control('Хочу.Докупить') %>
				<% if (0) { %>параметры желаемой докупки<% } %>
			</td>
			<td>
				<%= obj.control('Предлагается.Докупить') %>
				<% if (0) { %>параметры предлагаемой докупки<% } %>
			</td>
		</tr>
		<tr class="params">
			<td>
				<div class="additional">
					<b>К договору с параметрами:</b>
					<%= obj.control('Договор.Был') %>
					<% if (0) { %><br/>параметры имеющегося договора<% } %>
				</div>
			</td>
			<td>
				<b>После оплаты параметры будут:</b>
				<%= obj.control('Договор.Будет') %>
				<% if (0) { %><br/>предлагаемые параметры договора после оплаты<% } %>
			</td>
		</tr>
	</table>
</div>