﻿<!DOCTYPE html>
<html xmlns:v="urn:schemas-microsoft-com:vml"
	  xmlns:o="urn:schemas-microsoft-com:office:office"
	  xmlns:w="urn:schemas-microsoft-com:office:word"
	  xmlns:m="http://schemas.microsoft.com/office/2004/12/omml"
	  xmlns="http://www.w3.org/TR/REC-html40">
<head>
	<title>Регламент ценообразования на Помощник арбитражного управляющего</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<xml xmlns:w="urn:schemas-microsoft-com:office:word">
		<!--[if gte mso 9]><xml>
		 <w:WordDocument>
		  <w:View>Print</w:View>
		  <w:Zoom>100</w:Zoom>
		  <w:DoNotOptimizeForBrowser/>
		</w:WordDocument>
		</xml><![endif]-->
	</xml>
<style>
@page WordPageA4
{
	size:595.3pt 841.9pt;
	mso-page-orientation:album;
	margin:42.5pt 2.0cm 3.0cm 2.0cm;
	mso-header-margin:35.4pt;
	mso-footer-margin:35.4pt;
	mso-paper-source:0;
	mso-footer:page-footer;
	mso-header:page-header;
}
.ama-prices div.WordPageA4
{
	page:WordPageA4;
}
.ama-prices div.WordPageA4 div.cpw-ama-test-samples table
{
	font-size: 7pt !important;
}
.ama-prices div.cpw-tab-prices-examples-legenda table.legenda td.a
,.ama-prices div.cpw-tab-prices-examples-legenda table.legenda td
{
	font-size: 7pt !important;
}
.ama-prices div.cpw-tab-prices-rules
,.ama-prices div.cpw-tab-prices-rules table td
{
	font-size: 9pt !important;
}
</style>
</head>
<body class="ama-prices">
	<div class="WordPageA4">

		Положение о ценообразовании 
		<b>Помощник арбитражного управляющего</b> 
		(<%= obj.h_times.safeDateTime().toLocaleDateString() %>)
		<hr/>

		<h3>Установленные параметры расчёта:</h3>
		<%= obj.rules %>

		<h3>Контрольные примеры:</h3>
		<%= obj.legenda %>
		<%= obj.samples %>
	</div>
</body>
</html>
