﻿<style>
div.cpw-ama-prices-calculation
{
	width: 100%;
	text-align: center;
}
div.cpw-ama-prices-calculation table
{
	display: inline-block;
}
div.cpw-ama-prices-calculation table
{
	text-align: left;
}
div.cpw-ama-prices-calculation div.tab
{
	width:10px;
	display:inline-block
}
div.cpw-ama-prices-calculation tr.tab1 td:first-child { padding-left:20px; }
div.cpw-ama-prices-calculation tr.tab2 td:first-child { padding-left:40px; }
div.cpw-ama-prices-calculation tr.tab3 td:first-child { padding-left:60px; }
div.cpw-ama-prices-calculation tr.tab4 td:first-child { padding-left:80px; }
div.cpw-ama-prices-calculation tr td
{
	padding-left: 5px;
	padding-right: 10px;
}
div.cpw-ama-prices-calculation tr td.money
,div.cpw-ama-prices-calculation tr td.params
{
	text-align: right;
}
div.cpw-ama-prices-calculation tr.total td
,div.cpw-ama-prices-calculation tr.components td
{
	border-top: 1px solid black;
}
div.cpw-ama-prices-calculation tr.empty
{
	color: silver;
}
div.cpw-ama-prices-calculation tr.empty td:first-child
{
	text-decoration: line-through;
}
</style>
<%
var format_num= function(num)
{
	return !obj || null==obj || !obj.h_number || null==obj.h_number ? '' : obj.h_number.Format(num);
}
%>
<div class="cpw-ama-prices-calculation">
	<table>
		<tr>
			<td>за&nbsp;программу</td>
			<td class="params">
				<%= !obj ? '?' : obj.К_оплате.Составляющие.За_компоненты.Составляющие.За_базовый_комплект.Редакция %><% if (0) { %>Профессионал<% } %>
			</td>
			<td class="money">
				<%= !obj ? '?' : format_num(obj.К_оплате.Составляющие.За_компоненты.Составляющие.За_базовый_комплект.Сумма) %><% if (0) { %>20 000<% } %>
			</td>
			<td>руб.</td>
		</tr>
		<%
			var в_строку= !obj ? null : obj.К_оплате.Составляющие.За_компоненты.Составляющие.За_слоты_АУ;
			var сумма= null==в_строку ? '?' : в_строку.Сумма;
		%>
		<tr class="<%= 0!=сумма ? '' : 'empty' %>">
			<td>за слоты АУ</td>
			<td class="params">
				<%= null==в_строку ? '' : в_строку.Количество %><% if (0) { %>3<% } %>
			</td>
			<td class="money">
				<%= format_num(сумма) %><% if (0) { %>20 000<% } %>
			</td>
			<td>руб.</td>
		</tr>
		<%
			var в_строку= !obj ? null : obj.К_оплате.Составляющие.За_компоненты.Составляющие.За_рабочие_места;
			var сумма= null==в_строку ? '?' : в_строку.Сумма;
		%>
		<tr class="<%= 0!=сумма ? '' : 'empty' %>">
			<td>за&nbsp;рабочие&nbsp;места</td>
			<td class="params">
				<%= null==в_строку ? '' : в_строку.Количество %><% if (0) { %>3<% } %>
			</td>
			<td class="money">
				<%= format_num(сумма) %><% if (0) { %>20 000<% } %>
			</td>
			<td>руб.</td>
		</tr>
		<%
			var в_строку= !obj ? null : obj.К_оплате.Составляющие.За_компоненты.Составляющие.За_слоты_предприятий;
			var сумма= null==в_строку ? '?' : в_строку.Сумма;
		%>
		<tr class="<%= 0!=сумма ? '' : 'empty' %>">
			<td>за&nbsp;слоты&nbsp;предприятий</td>
			<td class="params">
				<%= null==в_строку ? '' : в_строку.Количество %><% if (0) { %>3<% } %>
			</td>
			<td class="money">
				<%= format_num(сумма) %><% if (0) { %>20 000<% } %>
			</td>
			<td>руб.</td>
		</tr>
		<tr class="tab1 components">
			<td colspan="2">итого за компоненты</td>
			<td class="money">
				<%= !obj ? '?' : format_num(obj.К_оплате.Составляющие.За_компоненты.Итого) %><% if (0) { %>20 000<% } %>
			</td>
			<td>руб.</td>
		</tr>
		<% var сумма= !obj ? '?' : obj.К_оплате.Составляющие.За_техподдержку; %>
		<tr class="tab1 <%= 0!=сумма ? '' : 'empty' %>">
			<td colspan="2">за тех. поддержку</td>
			<td class="money">
				<%= format_num(сумма) %><% if (0) { %>20 000<% } %>
			</td>
			<td>руб.</td>
		</tr>
		<% var сумма= !obj ? '?' : obj.К_оплате.Составляющие.За_обновление; %>
		<tr class="tab1 <%= 0!=сумма ? '' : 'empty' %>">
			<td colspan="2">за обновление</td>
			<td class="money">
				<%= format_num(сумма) %><% if (0) { %>20 000<% } %>
			</td>
			<td>руб.</td>
		</tr>
		<tr class="total tab2">
			<td colspan="2">Итого к оплате:</td>
			<td class="money">
				<%= !obj ? '?' : format_num(obj.К_оплате.Итого) %><% if (0) { %>20 000<% } %>
			</td>
			<td>руб.</td>
		</tr>
	</table>
</div>