﻿<% if (obj && obj.length && 0!=obj.length) { 

var critical= [];
var important= [];
var other= [];
for (var i= 0; i < obj.length; i++)
{
	switch (obj[i].важность)
	{
		case 'Критично': critical.push(obj[i]); break;
		case 'Важно': important.push(obj[i]); break;
		default: other.push(obj[i]); break;
	}
}
%>
<ul>
	<% for (var i= 0; i < critical.length; i++) { %>
		<li class="critical" ><%= critical[i].text %><% if (0) { %>критично<% } %></li>
	<% } %>
	<% for (var i= 0; i < important.length; i++) { %>
		<li class="important" ><%= important[i].text %><% if (0) { %>важно<% } %></li>
	<% } %>
	<% for (var i= 0; i < other.length; i++) { %>
		<li ><%= other[i].text %><% if (0) { %>просто пояснение<% } %></li>
	<% } %>
</ul>
<% } %>