﻿<style>
div.cpw-ama-test-samples
{
	display: inline-block;
}
div.cpw-ama-test-samples table
{
	border-collapse: collapse;
	font-size: small;
}
div.cpw-ama-test-samples table td
{
	border: 1px solid silver;
	padding: 2px;
}
div.cpw-ama-test-samples table td.dates
{
	text-align:right;
}
div.cpw-ama-test-samples table tr.header td
{
	background: #eeeeee;
	text-align: center;
}
div.cpw-ama-test-samples table td.newcol
{
	border-left: 2px solid black;
}
div.cpw-ama-test-samples table td.num
{
	text-align:right;
}
div.cpw-ama-test-samples table td.bool
{
	text-align:center;
}
div.cpw-ama-test-samples table td.msg div.critical
{
	color: red;
	display: inline;
}
</style>
<div class="cpw-ama-test-samples">
	<table>
		<% 
			var format_sum= function(num)
			{
				var res= obj.h_number.Format(num);
				if (' '==res.charAt(0))
					res= res.substring(1,res.length);
				return res.replace(/ /g,"&nbsp;");
			};
			var not_empty_sum= function(num)
			{
				return 0==num ? '' : format_sum(num);
			};
			var Дата_рассчёта= "13.09.2017";
			var Релиз= { Предпоследний: { Дата: "01.04.2017" } };
		%>
		<% for (var name in obj.to_test_cases) 
			{ 
				if ('-'==name.charAt(0))
					continue;
		%>
			<tr><td colspan="18">
				<b><%= name %><% if (0) { %>название теста<% } %></b>
			</td><td colspan="13" class="dates">
				(рассчёт на дату: <%= Дата_рассчёта %><% if (0) { %>00.00.0000<% } %>, 
				предпоследний релиз вышел: <%= Релиз.Предпоследний.Дата %><% if (0) { %>00.00.0000<% } %>)
			</td></tr>
			<tr class="header">
				<td colspan="6">было</td>
				<td colspan="6" class="newcol">покупатель просит</td>
				<td colspan="6" class="newcol">мы предлагаем</td>
				<td colspan="6" class="newcol">после этого будет</td>
				<td colspan="7" class="newcol">это будет стоить</td>
			</tr>
			<tr class="header">
				<td>ред.</td><td>ау</td><td>рм</td><td>п</td><td>тп</td><td>ск</td> <!-- было -->
				<td class="newcol">ред.</td><td>ау</td><td>рм</td><td>п</td><td>тп</td><td>ро</td> <!-- покупатель просит -->
				<td class="newcol">ред.</td><td>ау</td><td>рм</td><td>п</td><td>тп</td><td>ро</td> <!-- мы предлагаем -->
				<td class="newcol">ред.</td><td>ау</td><td>рм</td><td>п</td><td>тп</td><td>ск</td> <!-- После этого будет -->
				<td class="newcol">ред.</td><td>ау</td><td>рм</td><td>п</td><td>тп</td><td>ро</td><td>итого</td> <!-- Это будет стоить -->
			</tr>
		<%
				var to_test_group= obj.to_test_cases[name];
				for (var i= 0; i < to_test_group.length; i++)
				{
					var to_test= to_test_group[i];
					var обсчитано= to_test.Купить 
						? obj.h_calculation.Обсчитать.покупку(Дата_рассчёта, to_test.Купить)
						: obj.h_calculation.Обсчитать.докупку(Дата_рассчёта, to_test.Докупить, to_test.Договор, Релиз );
					var будет= обсчитано.Договор;
		%>
			<tr>
			<!-- было -->
			<td><%= !to_test.Договор ? '' : to_test.Договор.Редакция %><% if (0) {%>про<% } %></td>
			<td class="num"><%= !to_test.Договор ? '' : to_test.Договор.Количество.АУ %><% if (0) {%>99<% } %></td>
			<td class="num"><%= !to_test.Договор ? '' : to_test.Договор.Количество.Рабочих_мест %><% if (0) {%>99<% } %></td>
			<td class="num"><%= !to_test.Договор ? '' : to_test.Договор.Количество.Предприятий %><% if (0) {%>99<% } %></td>
			<td><%= !to_test.Договор ? '' : to_test.Договор.Техподдержка_до  %><% if (0) {%>10.10.2010<% } %></td>
			<td class="num"><%= !to_test.Договор ? '' : format_sum(to_test.Договор.Стоимость_компонентов) %><% if (0) {%>9 999 999<% } %></td>

			<!-- покупатель просит -->
			<td class="newcol"><%= !to_test.Купить ? '' : to_test.Купить.Редакция %><% if (0) {%>про<% } %></td>
			<td class="num"><%= !to_test.Купить ? ((!to_test.Докупить.Количество || !to_test.Докупить.Количество.АУ) ? '' : '+'+to_test.Докупить.Количество.АУ) : to_test.Купить.Количество.АУ %><% if (0) {%>99<% } %></td>
			<td class="num"><%= !to_test.Купить ? ((!to_test.Докупить.Количество || !to_test.Докупить.Количество.Рабочих_мест) ? '' : '+'+to_test.Докупить.Количество.Рабочих_мест) : to_test.Купить.Количество.Рабочих_мест %><% if (0) {%>99<% } %></td>
			<td class="num"><%= !to_test.Купить ? ((!to_test.Докупить.Количество || !to_test.Докупить.Количество.Предприятий) ? '' : '+'+to_test.Докупить.Количество.Предприятий) : to_test.Купить.Количество.Предприятий %><% if (0) {%>99<% } %></td>
			<td class="bool"><%= !(!to_test.Купить ? to_test.Докупить.Техподдержка : to_test.Купить.Техподдержка) ? '' : '+' %><% if (0) {%>+<% } %></td>
			<td><%= (!to_test.Докупить || !to_test.Докупить.Разовое_обновление) ? '' : '+' %><% if (0) {%>+<% } %></td>

			<% if (обсчитано.Покупка || обсчитано.Докупка) { %>
				<!-- мы предлагаем -->
				<td class="newcol"><%= !обсчитано.Покупка ? '' : обсчитано.Покупка.Редакция %><% if (0) {%>про<% } %></td>
				<td class="num"><%= !обсчитано.Покупка ? (!обсчитано.Докупка.Количество.АУ ? '' : '+'+обсчитано.Докупка.Количество.АУ) : обсчитано.Покупка.Количество.АУ %><% if (0) {%>99<% } %></td>
				<td class="num"><%= !обсчитано.Покупка ? (!обсчитано.Докупка.Количество.Рабочих_мест ? '' : '+'+обсчитано.Докупка.Количество.Рабочих_мест) : обсчитано.Покупка.Количество.Рабочих_мест %><% if (0) {%>99<% } %></td>
				<td class="num"><%= !обсчитано.Покупка ? (!обсчитано.Докупка.Количество.Предприятий ? '' : '+'+обсчитано.Докупка.Количество.Предприятий) : обсчитано.Покупка.Количество.Предприятий %><% if (0) {%>99<% } %></td>
				<td class="bool"><%= !(!обсчитано.Покупка ? обсчитано.Докупка.Техподдержка : обсчитано.Покупка.Техподдержка) ? '' : '+' %><% if (0) {%>+<% } %></td>
				<td class="bool"><%= (!обсчитано.Докупка || !обсчитано.Докупка.Разовое_обновление) ? '' : '+' %><% if (0) {%>+<% } %></td>

				<!-- После этого будет -->
				<td class="newcol"><%= будет.Редакция %><% if (0) {%>про<% } %></td>
				<td class="num"><%= будет.Количество.АУ %><% if (0) {%>99<% } %></td>
				<td class="num"><%= будет.Количество.Рабочих_мест %><% if (0) {%>99<% } %></td>
				<td class="num"><%= будет.Количество.Предприятий %><% if (0) {%>99<% } %></td>
				<td class="num"><%= будет.Техподдержка_до %><% if (0) {%>10.10.2010<% } %></td>
				<td class="num"><%= format_sum(будет.Стоимость_компонентов) %><% if (0) {%>9 999 999<% } %></td>

				<!-- Это будет стоить -->
				<td class="newcol num"><%= not_empty_sum(обсчитано.Рассчёт.К_оплате.Составляющие.За_компоненты.Составляющие.За_базовый_комплект.Сумма) %><% if (0) {%>9 999 999<% } %></td>
				<td class="num"><%= not_empty_sum(обсчитано.Рассчёт.К_оплате.Составляющие.За_компоненты.Составляющие.За_слоты_АУ.Сумма) %><% if (0) {%>9 999 999<% } %></td>
				<td class="num"><%= not_empty_sum(обсчитано.Рассчёт.К_оплате.Составляющие.За_компоненты.Составляющие.За_рабочие_места.Сумма) %><% if (0) {%>9 999 999<% } %></td>
				<td class="num"><%= not_empty_sum(обсчитано.Рассчёт.К_оплате.Составляющие.За_компоненты.Составляющие.За_слоты_предприятий.Сумма) %><% if (0) {%>9 999 999<% } %></td>
				<td class="num"><%= not_empty_sum(обсчитано.Рассчёт.К_оплате.Составляющие.За_техподдержку) %><% if (0) {%>9 999 999<% } %></td>
				<td class="num"><%= not_empty_sum(обсчитано.Рассчёт.К_оплате.Составляющие.За_обновление) %><% if (0) {%>9 999 999<% } %></td>
				<td class="num"><%= format_sum(обсчитано.Рассчёт.К_оплате.Итого) %><% if (0) {%>9 999 999<% } %></td>
			<% } else { %>
				<td colspan="19" class="msg newcol">
					неудача: 
					<% if (обсчитано.Пояснения && обсчитано.Пояснения.length) 
						{ 
							for (var j= 0; j < обсчитано.Пояснения.length; j++)
							{
								var пояснение= обсчитано.Пояснения[j];
								if ('Критично'==пояснение.важность)
								{
									%><div class="critical"><%= пояснение.text %></div><%
								}
							}
						} 
					%>
				</td>
			<% } %>
		</tr>
		<%	} } %>
	</table>
</div>