﻿<%
var r= (!obj 
	|| !obj.Регламенты 
	|| !obj.Регламенты.Регламент_завершения_торгов
	|| !obj.Регламенты.Регламент_завершения_торгов.Выявление_победителей)
	? {}
	: obj.Регламенты.Регламент_завершения_торгов.Выявление_победителей;
%>
<div>
	<div>
		Порядок выявления победителя торгов:
		<i><%= r.Порядок %></i>
	</div>
	<div>
		Критерии выявления победителя торгов:
		<i><%= r.Критерии %></i>
	</div>
</div>
