<style>
div.cpw-rit-bidding
{
	width: 950px;
	margin: 0 auto;
}

div.cpw-rit-bidding div.list
{
	margin-top: 3px;
}

div.cpw-rit-bidding td[aria-describedby="cpw-rit-bidding-grid1_token_bidding"]
{
	font-size: small;
}

div.cpw-rit-bidding td[aria-describedby="cpw-rit-bidding-grid1_URL"]
{
	font-size: small;
	word-wrap: break-word;
}

</style>

<div class="cpw-rit-bidding">
	<div style="width:100%;display:inline-block;">
		<button style="float:right;" class="open">Открыть</button>
	</div>
	<div class="list">
		<table id="cpw-rit-bidding-grid1" class="grid"></table>
		<div id="gridPager"></div>
	</div>
</div>