﻿<style>
div.ama-biddings-zob110-body
{
	width:550px;
	margin:0 auto;
}
div.ama-biddings-zob110-body textarea
{
	width:99%;
	height:3.7em;
}
</style>
<div class="ama-biddings-zob110-body">

	Cведения о продаваемом имуществе, его составе, характеристиках, описании, 
	и порядке ознакомления указывается отдельно для каждого продаваемого лота в соответствующем разделе<br/>
	<br />

	Общий для всех лотов порядок ознакомления:<br/>
	<textarea <%= obj.textarea_attrs('Общий_порядок_ознакомления_с_имуществом') %> ><%= obj.value() %></textarea>
</div>