﻿<style>
.ui-widget div.ama-bidding-lot-relations
{
    font-size: 14px;
    font-family: "Segoe UI";
    background-color: rgb(242,238,240);
    width: 95%;
    margin: 0px;
}
div.ama-bidding-lot-relations label
{
	display: inline-block;
}
div.ama-bidding-lot-relations div.select-wrapper
{
    top:-20px;
	width: 645px;
    color: lightblue;
	display: inline-block;
	text-align: left;
 } 

/**/
div.ama-bidding-lot-relations div.field-hint
{
	display: inline-block;
}
div.ama-bidding-lot-relations div.clarification,
div.ama-bidding-lot-relations div.question
{
	display: inline-block;
	cursor: pointer;
}
div.ama-bidding-lot-relations div.field-hint div.clarification
{
	opacity: 0;
}
div.ama-bidding-lot-relations div.field-hint div.clarification { display: inline-block; }
div.ama-bidding-lot-relations div.field-hint div.question { display: none; }
/**/
div.cpw-ama-select2-li-kmobject
{
	display: inline-block;
	width: 645px;
}
div.cpw-ama-select2-li-kmobject div.group
{
	display: inline-block;
	color: silver;
	float: right;
    margin-right:40px;
    font-size:small;
}
div.cpw-ama-select2-li-kmobject div.name
{
    font-size:10pt;
    margin-right: 30px;
}
div.cpw-ama-select2-li-kmobject.selected
{
	text-decoration: line-through;
}
div.ama-bidding-lot-relations table
{
	border-collapse: collapse;
	width: 645px;
}
div.ama-bidding-lot-relations tr 
{
    border-bottom:1pt solid silver; 
}
div.ama-bidding-lot-relations td
{
	vertical-align: middle;
	padding: 3px;
	padding-top: 5px;
	padding-bottom: 5px;
}
div.ama-bidding-lot-relations td.content.group
{ 
    color: #9A9A9A;
}
div.ama-bidding-lot-relations td.content div.overflow {
    width: 300px;
     overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
div.ama-bidding-lot-relations td.content.price
{
	width: 125px;
	text-align: right;
}
div.ama-bidding-lot-relations tr:hover
{
	background-color: #eeeeee;
}
div.ama-bidding-lot-relations div.empty-list
{
	padding-top: 10px;
    position:center;
    vertical-align: middle;
    text-align: center;
}
div.ama-bidding-lot-relations a.ama-icon {
    line-height: inherit;
    height: inherit;
    display: inline-block;
    vertical-align: middle;
    min-height: 21px;
    cursor: pointer;
    padding-left: 27px;
    background: url(../Content/img/icons_sprite.png) no-repeat;
}
div.ama-bidding-lot-relations a.ama-link {
    color: #9A9A9A;
    cursor: pointer;
    text-align: left;
    text-decoration: none;
}
div.ama-bidding-lot-relations a.ama-icon-remove {
    background-position: -28px -733px;
}
div.ama-bidding-lot-relations a.ama-icon-remove:hover {
    background-position: -28px -660px;
} 
</style>
<div class="ama-bidding-lot-relations">
	<div>
		<div class="field-hint" ><div class="question">?</div> <div class="clarification" >*</div></div>
		<div class="select-wrapper">Добавить</div>
	</div>
	<div class="empty-list" <%= obj.empty_attrs() %> >
		<p>
			<!--Объекты конкурсной массы, соответствующие лоту не выбраны.-->
        Нет объектов конкурсной массы. <br /><br />
		<!--</p>
		<p>-->
			Если добавить хотя бы один, уже известная информация об объекте <br />
            автоматизированно перенесётся в параметры лота.    <br /> <br />
		<!--</p>
		<p>-->
			Конечно, перенесённую информацию можно будет откорректировать.
		</p>
	</div>
	<table class="not-empty-list" <%= obj.not_empty_attrs() %>  >
		<% while (obj.iterate()) { %>
		<tr <%= obj.item_attrs() %> >
			<!--<td class="number">
				<%= obj.item_position1() %>
					<% if (obj.is_seed()) { %>
						1
					<% } %>
				<%= obj.item_position1_end() %>
				.
			</td>-->
			<td class="content">
				<div class="overflow"><%= obj.text_field('СокращённоеНазвание') %>
					<% if (obj.is_seed()) { %>
						Автомобиль волга
					<% } %>
				<%= obj.text_field_end() %>  </div>
			</td>
			<td class="content group">
				(<%= obj.text_field('Группа') %>
					<% if (obj.is_seed()) { %>
						автотранспорт
					<% } %>
				<%= obj.text_field_end() %>)
			</td>
			<td class="content price"> 
				<%= obj.text_field('ОценочнаяСтоимость') %>
					<% if (obj.is_seed()) { %>
						10000
					<% } %>
				<%= obj.text_field_end() %> 
				руб.
			</td>
			<td class="delete">
				<a href="#null" class="ama-link ama-icon ama-icon-remove do_delete"></a>
			</td>
		</tr>
		<% } %>
	</table>
</div>
<%
var on_delete= function (e)
{
	var i_item= obj.find_binding_for_item($(this)).i_item;
	obj.model.splice(i_item,1);
	obj.update_dom();
	$(obj.form_div_selector).trigger('model_change');
	return false;
};
var findObjectIndexInModel= function(o)
{
	if (obj.model)
	{
		for (var i= 0; i < obj.model.length; i++)
		{
			var f= obj.model[i];
			if (f.id==o.id)
				return i;
		}
	}
	return -1;
};
var on_add= function (e)
{
	var kmobject= e.object.kmobject;
	if (!obj.model)
		obj.model= [];
	if (-1==findObjectIndexInModel(kmobject))
	{
		obj.model.push(kmobject);
		obj.update_dom();
		$(obj.form_div_selector).trigger('model_change');
	}
};
var formatKmObjectItemOption = function (item)
{
	if (!item.kmobject)
	{
		return item.text;
	}
	else
	{
		var kmobject= item.kmobject;
		var kmobject_is_selected= (-1!=findObjectIndexInModel(kmobject));
		return 
			'<div class="cpw-ama-select2-li-kmobject'
				+ (!kmobject_is_selected ? '' : ' selected') + '">' 
				+ '<div class="name">' + kmobject.СокращённоеНазвание + ' </div>'
				+ '<div class="group">(' + kmobject.Группа + ')</div>'
				+ '</div>';
	}
};
obj.Destroy= function()
{
	var select2= $(obj.form_div_selector + ' .ama-bidding-lot-relations .select-wrapper');
	select2.select2('destroy');
};
obj.on_after_render= function()
{
	var select2= $(obj.form_div_selector + ' .ama-bidding-lot-relations .select-wrapper');
	select2.select2
	({
		placeholder: 'Добавить'
		,allowClear: true
		,formatResult: formatKmObjectItemOption
		,query: function (query){query.callback({ results: obj.foreign_data(query.term) });}
		,escapeMarkup: function(m){return m;}
	});
	select2.on("select2-selecting", on_add);
	select2.on("change", function (e)
	{
		select2.select2('data',null);
	});
	$(obj.form_div_selector + ' .do_delete').click(on_delete);
};
obj.on_after_update_dom= function()
{
	$(obj.form_div_selector + ' .do_delete').off('click',on_delete);
	$(obj.form_div_selector + ' .do_delete').click(on_delete);
};
%>