﻿<style>
div.ama-biddings-zob110-form
{
	width:550px;
	margin:0 auto;
}
</style>
<div class="ama-biddings-zob110-form">

	<div class="row">
		Форма проведения торгов: 
		<select <%= obj.select_attrs('Форма_проведения_торгов') %> >
			<option <%= obj.option_attrs('Открытый аукцион') %> >Открытый аукцион</option>
			<option <%= obj.option_attrs('Закрытый аукцион') %> >Закрытый аукцион</option>
			<option <%= obj.option_attrs('Открытый конкурс') %> >Открытый конкурс</option>
			<option <%= obj.option_attrs('Закрытый конкурс') %> >Закрытый конкурс</option>
			<option <%= obj.option_attrs('Публичное предложение') %> >Публичное предложение</option>
			<option <%= obj.option_attrs('Закрытое публичное предложение') %> >Закрытое публичное предложение</option>
		</select>
	</div>

	<div class="row">
		Форма представления предложений о цене: 
		<select <%= obj.select_attrs('Форма_представления_предложений_цены') %> >
			<option <%= obj.option_attrs('открытая') %> >открытая</option>
			<option <%= obj.option_attrs('закрытая') %> >закрытая</option>
		</select>
	</div>

</div>