﻿<div>
	Форма проведения торгов: <b><%= obj.Форма_проведения_торгов %><% if (0) {%>Открытый аукцион<% } %></b>.<br />
	Форма представления предложений о цене: <b><%= obj.Форма_представления_предложений_цены %><% if (0) {%>открытая<% } %></b>.
</div>
