﻿<style>
div.ama-biddings-biddings
{
    border-top: 1px solid #EBEBEB;
    font-size: 16px!important;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
div.ama-biddings-biddings a.right
{
	float: right;
	margin-right: 10px;
}
div.ama-biddings-biddings div.right
{
	float: right;
	margin-right: 20px;
}
div.ama-biddings-biddings .selector {
    height:30px;
}

div.ama-biddings-biddings a.ama-icon {
    line-height: inherit;
    height: inherit;
    display: inline-block;
    vertical-align: middle;
    min-height: 21px;
    cursor: pointer;
    padding-left: 27px;
    background: url(../Content/img/icons_sprite.png) no-repeat;
    margin-top: 3px;
}
div.ama-biddings-biddings a.ama-link {
    color: #9A9A9A;
    cursor: pointer;
    text-align: left;
    vertical-align: middle;
    text-decoration: none;
}
div.ama-biddings-biddings a.ama-icon-remove {
    background-position: -28px -733px;
}
div.ama-biddings-biddings a.ama-icon-remove:hover {
    background-position: -28px -660px;
} 
div.ama-biddings-biddings a.ama-icon-edit {
    background-position: -28px -1080px;
}
div.ama-biddings-biddings a.ama-icon-edit:hover {
    background-position: -28px -1008px;
}
div.ama-biddings-biddings a.ama-icon-plus {
    background-position: -22px -306px;
}
div.ama-biddings-biddings a.ama-icon-plus:hover {
    background-position: -22px -237px;
}
div.ama-biddings-biddings a.edit {
    margin-right:-15px;
}
div.ama-biddings-biddings div.store-status
{
	display: inline-block;
	width:100%;
}
</style>
<div class="ama-biddings-biddings">
	<div>
		<div class="right bidding-cmd">
			<a href="#" class="ama-link ama-icon ama-icon-edit edit"><% if (0) {%>e<% } %></a> 
			<a href="#" class="ama-link ama-icon ama-icon-plus add"><% if (0) {%>+<% } %></a> 
			<a href="#" class="ama-link ama-icon ama-icon-remove delete"><% if (0) {%>-<% } %></a> 
		</div>
		<span style="vertical-align:central; width: 60px; padding-right:10px">Торги:</span>
		<select id="selectBiddings" class="selector" style="margin-top:5px;">
			<% if (0) {%>
				<option>Комплекс зданий в Чернявке</option>
			<% } %>
		</select>
	</div>
	<div class="bidding">
		<% if (0) {%>
			Информация о торгах
		<% } %>
	</div>
	<div class="store-status">
		<% if (0) {%>
			информация о статусе чтения/записи данных из/в базу данных
		<% } %>
	</div>
</div>