﻿<style>
div.ama-biddings-zob110-step
{
	width:550px;
	margin:0 auto;
}
</style>
<div class="ama-biddings-zob110-step">
	Шаг аукциона задаётся для каждого лота отдельно в соответствующем разделе!
</div>