﻿<style>
div.ama-biddings-zob110-conc
{
	width:550px;
	margin:0 auto;
}
div.ama-biddings-zob110-conc textarea
{
	margin-left:30px;
	width:calc(100% - 30px);
	height:3.7em;
}
</style>
<div class="ama-biddings-zob110-conc">

	<div>
		Условия конкурса:<br/>
		<textarea <%= obj.textarea_attrs('Условия_конкурса') %> ><%= obj.value() %></textarea>
	</div>

</div>