body.cpw-ama.test div.ama-biddings-biddings a.ama-icon
{
    background-color: transparent;
    vertical-align: middle;
    cursor: pointer;
    background: url(../img/icons_sprite.png) no-repeat;
}
body.cpw-ama.test div.ama-biddings-biddings a.ama-icon-remove       { background-position: -28px -733px; }
body.cpw-ama.test div.ama-biddings-biddings a.ama-icon-remove:hover { background-position: -28px -660px; }
body.cpw-ama.test div.ama-biddings-biddings a.ama-icon-edit         { background-position: -28px -1080px; }
body.cpw-ama.test div.ama-biddings-biddings a.ama-icon-edit:hover   { background-position: -28px -1008px; }
body.cpw-ama.test div.ama-biddings-biddings a.ama-icon-plus         { background-position: -19px -306px; }
body.cpw-ama.test div.ama-biddings-biddings a.ama-icon-plus:hover   { background-position: -22px -237px; }
body.cpw-ama.test div.ama-auction-lots a.ama-icon
{
    cursor: pointer;
    background: url(../img/icons_sprite.png) no-repeat;
}
body.cpw-ama.test div.ama-auction-lots a.ama-icon-remove       { background-position: -28px -733px; }
body.cpw-ama.test div.ama-auction-lots a.ama-icon-remove:hover { background-position: -28px -660px; }
body.cpw-ama.test div.ama-auction-lots a.ama-icon-edit         { background-position: -28px -1080px; }
body.cpw-ama.test div.ama-auction-lots a.ama-icon-edit:hover   { background-position: -28px -1008px;}
body.cpw-ama.test div.ama-auction-lots a.ama-icon-drag         { background-position: -27px -2849px;}
body.cpw-ama.test div.ama-auction-lots a.ama-icon-drag:hover   { background-position: -27px -2772px;}
body.cpw-ama.test div.ama-auction-lots a.ama-icon-plus         { background-position: -19px -306px; }
body.cpw-ama.test div.ama-auction-lots a.ama-icon-plus:hover   { background-position: -22px -237px; }

