﻿<style>
div.ama-biddings-zob110-scha
{
	width:550px;
	margin:0 auto;
}
div.ama-biddings-zob110-scha input
{
	margin:2px;
}
div.ama-biddings-zob110-scha textarea
{
	margin-left:30px;
	width:calc(100% - 30px);
	height:3.7em;
}
div.ama-biddings-zob110-scha div.sub
{
	margin-left:30px;
}
div.ama-biddings-zob110-scha div.title
{
	display:inline-block;
	width:80px;
}
</style>
<div class="ama-biddings-zob110-scha">

	<div>
		Порядок представления заявок на участие в торгах:<br/>
		<textarea <%= obj.textarea_attrs('Порядок') %> ><%= obj.value() %></textarea>
	</div>

	<div>
		Место представления заявок на участие в торгах:<br/>
		<textarea <%= obj.textarea_attrs('Место') %> ><%= obj.value() %></textarea>
	</div>

	<div>
		Срок и время представления заявок на участие в торгах:<br />
		<div class="sub">
			<div>
				<div class="title">начало:</div> 
				<input type="text" value="<%= obj.txt('Срок_и_время.начало.Дата') %>" /> 
				время: 
				<input type="text" value="<%= obj.txt('Срок_и_время.начало.Время') %>" />
			</div>
			<div>
				<div class="title">окончание:</div> 
				<input type="text" value="<%= obj.txt('Срок_и_время.окончание.Дата') %>" /> 
				время: 
				<input type="text" value="<%= obj.txt('Срок_и_время.окончание.Время') %>" />
			</div>
			<div>
				текстом:<br/>
				<textarea <%= obj.textarea_attrs('Срок_и_время.текстом') %> ><%= obj.value() %></textarea>
			</div>
		</div>
	</div>
</div>