﻿<%
var r= (!obj 
	|| !obj.Регламенты 
	|| !obj.Регламенты.Регламент_проведения_торгов 
	|| !obj.Регламенты.Регламент_проведения_торгов.Представление_заявок_об_участии)
	? {}
	: obj.Регламенты.Регламент_проведения_торгов.Представление_заявок_об_участии;
var Срок_и_время= !r.Срок_и_время ? {} : r.Срок_и_время;
var начало= !Срок_и_время.начало ? {} : Срок_и_время.начало;
var окончание= !Срок_и_время.окончание ? {} : Срок_и_время.окончание;
%>
<div>
	<div>
		Порядок представления заявок на участие в торгах:
		<i><%= r.Порядок %></i>
	</div>
	<div>
		Место представления заявок на участие в торгах:
		<i><%= r.Место %></i>
	</div>
	<div>
		Срок и время представления заявок на участие в торгах:
		<i>
			<%= начало.Дата %> <%= начало.Время %> — 
			<%= окончание.Дата %> <%= окончание.Время %>
		</i>
	</div>
</div>
