﻿<style>
div.cpw-forms-store-status
{
	display: inline-block;
	width: 100%;
	margin-top: 5px;
	margin-bottom: 5px;
	font-size: small;
	text-align: right;
	border-top: 1px solid #eeeeee;
	float: right;
}
div.cpw-forms-store-status > span
{
	padding-left: 20px;
}
div.cpw-forms-store-status span.fixed-width
{
	display:inline-block;
	width:55px;
}
</style>
<div class="cpw-forms-store-status" >
	<% if (obj.controller.time_SetFormContent) { %>
		<span class='time-set-form-content'>
			время загрузки данных в форму: 
			<span class="hide_on_test_shots">
			<span class="value fixed-width">
				<%= obj.controller.time_SetFormContent.toLocaleTimeString() %><% if (0) {%>13:26:33<% } %>
			</span>
			</span>
		</span>
	<% } %>
	<span class='time-get-form-content' <%= 'style="display:none;"' %> >
		время выгрузки данных из формы: 
		<span class="hide_on_test_shots"><span class="value fixed-width"><% if (0) {%>13:26:49<% } %></span></span>
	</span>
	<span class='external-revision' <%= 'style="display:none;"' %> >
		выгруженная ревизия: 
		<span class="value"><% if (0) {%>12<% } %></span>
	</span>
	<span class='revision'>
		ревизия: 
		<span class="value">
			<%= obj.controller.revision %><% if (0) {%>11<% } %>
		</span>
	</span>
</div>