﻿<style>
div.ama-biddings-zob110
{
	width:1000px;
	margin:0 auto;
}

div.ama-biddings-zob110 > div.nav
{
	width:30%;
	display:inline-block;
}
div.ama-biddings-zob110 > div.nav ul
{
	margin-top:0;
	padding-left:20px;
}
div.ama-biddings-zob110 > div.nav li[data-readonly="true"]
{
	opacity:0.5;
	padding-left:30px;
}
div.ama-biddings-zob110 > div.nav li[data-conditional="true"]
{
	padding-left:30px;
}
div.ama-biddings-zob110 > div.nav li
{
	margin-top:4px;
	margin-bottom:3px;
	margin-right:5px;
	padding-left:3px;
}
div.ama-biddings-zob110 > div.nav li:hover
{
	background-color:#eeeeee;
}
div.ama-biddings-zob110 > div.content
{
	margin:2px;
	width:69%;
	height:600px;
	overflow-y:scroll;
	display:inline-block;
	vertical-align:top;
}
div.ama-biddings-zob110 > div.content div.t1
{
	color: darkblue
}
div.ama-biddings-zob110 > div.content p
{
	margin-top:5px;
	margin-left:20px;
}
div.ama-biddings-zob110 > div.content div.par
{
	margin:2px;
	padding:3px;
	cursor:pointer;
	border:1px dotted white;
}
div.ama-biddings-zob110 > div.content div.par:hover
{
	background-color:#eeeeee;
}
div.ama-biddings-zob110 > div.content div.par div.btn
{
	display:inline-block;
	
	margin-left:1px;
	margin-right:1px;
	border:1px solid gray;
	border-radius:12px;
	width:25px;
	text-align:center;
	vertical-align:top;
}
div.ama-biddings-zob110 > div.content div.par div.btn:hover
{
	background-color:silver;
}
div.ama-biddings-zob110 > div.content div.par div.t1 div.txt
{
	display:inline-block;
	margin-left:5px;
	width:calc(100% - 65px)
}
div.ama-biddings-zob110 > div.content div.par div.text
{
	margin-left:15px;
	margin-bottom:15px;
}
</style>
<%
var sections= !obj.options || !obj.options.sections ? [] : obj.options.sections;
%>
<div class="ama-biddings-zob110">

	<div class="nav">
		<ul>
			<%	for (var i= 0; i< sections.length; i++)
				{
					var s= sections[i];
			%>
				<li data-readonly="<%= s.readonly %>" data-conditional="<%= s.conditional %>">
					<a href="#<%= s.tag %>"><%= s.nav %><% if (0) { %>состав, порядок ознакомления<% } %></a>
				</li>
			<%	} %>
		</ul>
	</div>

	<div class="content">
		<%	for (var i= 0; i< sections.length; i++)
			{
				var s= sections[i];
			%>
		<a name="<%= s.tag %>" />
		<div class="par" data-link="<%= s.tag %>">
			<div class="t1">
				<div class="btn help">?</div>
				<div class="btn edit">&#9998;</div>
				<div class="txt"><%= s.title %><% if (0) { %>Сведения о лотах, их составе, характеристиках, описание, порядок ознакомления<% } %></div>
			</div>
			<div class="text">
				<% if (s.html) { %>
					<%= s.html(obj.value()) %>
				<% } else { %>
				содержимое раздела 
				"<%= s.title %><% if (0) { %>Сведения о лотах, их составе, характеристиках, описание, порядок ознакомления<% } %>"
				<% } %>
			</div>
		</div>
		<%	} %>

	</div>

</div>