﻿<div>
	Разъяснение по заполнению информации о продаже в разделе<br/>
	"<%= obj.title %>".<br />
	<br />

	<% if (obj.help) { %>
	В 
	<a href="http://www.consultant.ru/document/cons_doc_LAW_39331/970a8647d4bfb2868e3ca913c3f3188e6d81d092/" target="_blank">
		пункте 10 статьи 110 Закона о банкротстве 
	</a> указано:<br/>
	<br />
	<b>"<%= obj.help() %>"</b>
	<% } %>
</div>
