﻿<style>
div.cpw-forms-ama-prices-tabs div.examples
{
	height: 380px;
	overflow: auto;
	border:1px solid gray;
}
div.cpw-forms-ama-prices-tabs div#cpw-tab-prices-descriptions
,div.cpw-forms-ama-prices-tabs div#cpw-tab-prices-examples
,div.cpw-forms-ama-prices-tabs div#cpw-tab-prices-calculator
{
	min-height: 450px;
}
div.cpw-forms-ama-prices-tabs h4
{
	margin-top: 5px;
	margin-bottom: 5px;
}
div.cpw-forms-ama-prices-tabs div.rules
{
	text-align: center;
}
div.cpw-forms-ama-prices-tabs div.legenda
{
	font-size: small;
}
div.cpw-forms-ama-prices-tabs > div.title
{
	display: inline-block;
	width:100%;
}
div.cpw-forms-ama-prices-tabs > div.title button
{
	float: right;
}
</style>
<div class="cpw-forms-ama-prices-tabs" >
	<div class="title">
		<button class="print">Печатное положение о ценообразовании</button>
		<h4>Цены на "Помощник Арбитражного Управляющего"</h4>
	</div>
	<div id="cpw-forms-ama-prices-tabs" <%= obj.tabs_attrs() %> >
		<ul>
			<li><a href="#cpw-tab-prices-descriptions" >Цены и правила</a></li>
			<li><a href="#cpw-tab-prices-examples" >Примеры</a></li>
			<li><a href="#cpw-tab-prices-calculator" >Калькулятор</a></li>
		</ul>
		<div id="cpw-tab-prices-descriptions" >
			<div class="rules">
				Здесь должны быть правила рассчёта
			</div>
		</div>

		<div id="cpw-tab-prices-examples" >
			<div class="examples">Здесь должны быть примеры рассчёта</div>
			<div class="legenda">Здесь должна быть легенда примеров рассчёта</div>
		</div>

		<div id="cpw-tab-prices-calculator" >
			<%= obj.control('Калькулятор') %>
		</div>
	</div>
</div>