﻿<style>
div.cpw-tab-prices-examples-legenda table.legenda td
{
	padding-right: 10px;
}
div.cpw-tab-prices-examples-legenda table.legenda td.a
{
	padding-left: 15px;
	font-weight: bold;
}
</style>
<div class="cpw-tab-prices-examples-legenda">
	<table class="legenda">
		<tr>
			<td class="a">ред.</td><td>-</td><td>Редакция программы</td>
			<td class="a">ск</td><td>-</td><td>стоимость компонентов</td>
			<td class="a">ау</td><td>-</td><td>слотов Арбитражных Управляющих</td>
		</tr>
		<tr>
			<td class="a">тп</td><td>-</td><td>техническая поддержка</td>
			<td class="a">рм</td><td>-</td><td>рабочих мест</td>
			<td class="a">ро</td><td>-</td><td>разовое обновление</td></tr>
		<tr>
			<td class="a">п</td><td>-</td><td>процедур</td>
		</tr>
	</table>
</div>