﻿<style>
div.cpw-tab-prices-rules
{
	display: inline-block;
	text-align: left;
	font-size: small;
}
div.cpw-tab-prices-rules table
{
	border-collapse:collapse;
}
div.cpw-tab-prices-rules table td
{
	width: 100px;
}
div.cpw-tab-prices-rules table td.splitter
{
	width: 10px;
}
div.cpw-tab-prices-rules table td.border
{
	border: 1px solid silver;
	text-align: center;
	padding-top:0px;
	padding-bottom:0px;
}
div.cpw-tab-prices-rules table tr.title td
{
	padding-top:5px;
	width: auto;
}
div.cpw-tab-prices-rules ul
{
	margin-top: 3px;
	margin-bottom: 3px;
	padding-left: 16px;
}
div.cpw-tab-prices-rules ul span
{
	width:25px;
	display: inline-block;
}
</style>
<div class="cpw-tab-prices-rules">
	<table>
		<tr>
			<td></td>
			<td>Редакция:</td>
			<% for (var name in obj.h_prices.Для_редакции) { var e= obj.h_prices.Для_редакции[name]; %>
			<td colspan="2" class="border"><%= e.Наименование %><% if (0) { %>Докторская<% } %></td>
			<td class="splitter"></td>
			<% } %>
		</tr>

		<tr class="title">
			<td colspan="11" >комплектация базовая, без ограничений на количество предприятий:</td>
		</tr>

		<tr>
			<td></td>
			<td>количество:</td>
			<% for (var name in obj.h_prices.Для_редакции) { var e= obj.h_prices.Для_редакции[name]; %>
				<td class="border"><% if (e.База.Количество.АУ) { %><%= e.База.Количество.АУ %><% if (0) { %>1<% } %> АУ<% } else { %>неограниченно<% } %></td>
				<td class="border"><%= e.База.Количество.Мест %><% if (0) { %>1<% } %> РМ</td>
				<td class="splitter"></td>
			<% } %>
		</tr>
		<tr>
			<td class="splitter"></td>
			<td>цена:</td>
			<% for (var name in obj.h_prices.Для_редакции) { var e= obj.h_prices.Для_редакции[name]; %>
				<td class="border" colspan="2"><%= obj.h_number.Format(e.База.Цена) %><% if (0) { %>10<% } %> руб.</td>
				<td class="splitter"></td>
			<% } %>
		</tr>

		<tr class="title">
			<td colspan="11">комплектация ограниченная на <b>1 предпрятие</b>:</td>
		</tr>
		<tr>
			<td></td>
			<td>количество:</td>
			<% for (var name in obj.h_prices.Для_редакции) { var e= obj.h_prices.Для_редакции[name]; %>
				<% if (!e.На_1_предприятие) { %>
					<td colspan="2" rowspan="2" class="border">не поставляется</td>
				<% } else { %>
					<td class="border"><% if (e.На_1_предприятие.Количество.АУ) { %><%= e.На_1_предприятие.Количество.АУ %><% if (0) { %>1<% } %> АУ<% } %></td>
					<td class="border"><% if (e.На_1_предприятие.Количество.Мест) { %><%= e.На_1_предприятие.Количество.Мест %><% if (0) { %>1<% } %> РМ<% } %></td>
				<% } %>
				<td class="splitter"></td>
			<% } %>
		</tr>
		<tr>
			<td></td>
			<td>цена:</td>
			<% for (var name in obj.h_prices.Для_редакции) { var e= obj.h_prices.Для_редакции[name]; %>
				<% if (e.На_1_предприятие) { %>
					<td colspan="2" class="border"><%= obj.h_number.Format(e.На_1_предприятие.Цена) %><% if (0) { %>10<% } %> руб.</td>
				<% } %>
				<td class="splitter"></td>
			<% } %>
		</tr>

		<tr class="title">
			<td colspan="11">расширение комплектации:</td>
		</tr>
		<tr>
			<td></td>
			<td>количество:</td>
			<% for (var name in obj.h_prices.Для_редакции) { var e= obj.h_prices.Для_редакции[name]; %>
				<td class="border">1 АУ</td>
				<td class="border">1 РМ</td>
				<td class="splitter"></td>
			<% } %>
		</tr>
		<tr>
			<td></td>
			<td>цена:</td>
			<% for (var name in obj.h_prices.Для_редакции) { var e= obj.h_prices.Для_редакции[name]; %>
				<td class="border"><%= !e.Дополнить.АУ ? 0 : obj.h_number.Format(e.Дополнить.АУ) %><% if (0) { %>10<% } %> руб.</td>
				<td class="border"><%= obj.h_number.Format(e.Дополнить.Место) %><% if (0) { %>10<% } %> руб.</td>
				<td class="splitter"></td>
			<% } %>
		</tr>

		<tr class="title">
			<td colspan="3">
				оплата технической поддержки на <b>1 год</b>: 
			</td>
			<td colspan="5">
				<b><%= 100*obj.h_prices.Базовая_ставка.Техподдержки %><% if (0) { %>35<% } %>%</b> от стоимости компонентов
			</td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<% for (var name in obj.h_prices.Для_редакции) { var e= obj.h_prices.Для_редакции[name]; %>
			<td class="border">не менее:</td>
			<td class="border">не более:</td>
			<td class="splitter"></td>
			<% } %>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<% for (var name in obj.h_prices.Для_редакции) { var e= obj.h_prices.Для_редакции[name]; %>
			<td class="border"><%= obj.h_number.Format(e.Техподдержка.минимум) %><% if (0) { %>1<% } %> руб.</td>
			<td class="border"><%= obj.h_number.Format(e.Техподдержка.максимум) %><% if (0) { %>1<% } %> руб.</td>
			<td class="splitter"></td>
			<% } %>
		</tr>
	</table>
	<ul>
		<li>При покупке новой программы автоматически предоставляется техподждержка на месяц</li>
		<li>Если клиент пропустил предпоследний релиз, разовое обновление обязательно!</li>
		<li>Оплата разового обновления от стоимости компонентов 
			<b><%= 100*obj.h_prices.Базовая_ставка.Разового_обновления_если_не_обновлялись.НЕ_более_12_месяцев %><% if (0) { %>35<% } %>%</b> 
			- если с даты завершения техподдержки НЕ прошло 12 месяцев, иначе 
			<b><%= 100*obj.h_prices.Базовая_ставка.Разового_обновления_если_не_обновлялись.более_12_месяцев %><% if (0) { %>50<% } %>%</b>
			.
		</li>
		<li>На конфигурацию на <b>1 предприятие</b> не продаются ни дополнительные рабочие места, ни слоты АУ</li>
		<li>Суммы меньше минимальных выставляются как минимальные</li>
		<li>Суммы больше максимальных выставляются как есть, возможно с рекомендацией обратиться за скидкой</li>
		<li>На редакцию Управляющей компании расчет стоимости тех поддержки на доп рм и доп ау не производится, разовое обновление не предлагается.</li>
	</ul>
</div>