﻿<style>
div.cpw-ama-prices-additional 
{
	width: 250px;
}
div.cpw-ama-prices-additional div.row
{
	display:inline-block;
	width:100%;
	margin-bottom: 3px;
}
div.cpw-ama-prices-additional input[type="text"]
{
	text-align: right;
	width: 70px;
	float:right;
}
</style>
<div class="cpw-ama-prices-additional">
	<div class="row">
		<label style="width:auto;display:inline;">
			<input type="checkbox" <%= obj.checkbox_attrs('Техподдержка') %> />
			Тех.поддержку
		</label> 
		<label style="width:auto;display:inline;">
			<input type="checkbox" <%= obj.checkbox_attrs('Разовое_обновление') %> />
			Обновление
		</label>
	</div>
	<div class="row quantity">
		<input type="text" value="<%= obj.txt('Количество.АУ') %>" />
		<label>- слотов АУ</label>
	</div>
	<div class="row quantity">
		<input type="text" value="<%= obj.txt('Количество.Рабочих_мест') %>" />
		<label>- рабочих мест</label>
		
	</div>
	<div class="row quantity">
		<input type="text" value="<%= obj.txt('Количество.Предприятий') %>" />
		<label>- слотов предприятий</label>
	</div>
</div>