﻿<style>
div.ama-biddings-zob110-docs
{
	width:550px;
	margin:0 auto;
}
div.ama-biddings-zob110-docs textarea
{
	margin-left:30px;
	width:calc(100% - 30px);
	height:3.7em;
}
</style>
<div class="ama-biddings-zob110-docs">

	<div>
		Порядок оформления участия в торгах:<br/>
		<textarea <%= obj.textarea_attrs('Порядок_оформления_участия_в_торгах') %> ><%= obj.value() %></textarea>
	</div>

	<div>
		Заявка на участие в торгах должна содержать следующие сведения:<br />
	</div>

	<div>
		К заявке на участие в торгах должны быть приложены следующие документы:<br />
	</div>

	<div>
		Требования к оформлению документов:<br/>
		<textarea <%= obj.textarea_attrs('Требования_к_оформлению_документов') %> ><%= obj.value() %></textarea>
	</div>

</div>