﻿<style>
div.cpw-ama-prices-purchase 
{
	width: 250px;
}
div.cpw-ama-prices-purchase div.row
{
	display:inline-block;
	width: 100%;
	margin-bottom: 3px;
}
div.cpw-ama-prices-purchase div.row div.value
{
	float: right;
}
div.cpw-ama-prices-purchase input[type="text"]
{
	text-align: right;
	width:70px;
}
div.cpw-ama-prices-purchase select
{
	width:100%;
}
</style>
<div class="cpw-ama-prices-purchase">
	<div class="row">
		<select <%= obj.select_attrs('Редакция') %>>
			<option <%= obj.option_attrs('про') %>>Профессионал</option>
			<option <%= obj.option_attrs('лайт') %>>Лайт</option>
			<option <%= obj.option_attrs('ук') %>>Управляющая компания</option>
		</select>
	</div>
	<div class="row quantity">
		<div class="value"><input type="text" value="<%= obj.txt('Количество.АУ') %>" /></div>
		<label>- слотов АУ</label>
	</div>
	<div class="row quantity">
		<div class="value"><input type="text" value="<%= obj.txt('Количество.Рабочих_мест') %>" /></div>
		<label>- рабочих мест</label>
	</div>
	<div class="row quantity">
		<div class="value"><input type="text" value="<%= obj.txt('Количество.Предприятий') %>" /></div>
		<label>- слотов предприятий</label>
	</div>
	<div class="row">
		<label style="width:auto;">
			<input type="checkbox" <%= obj.checkbox_attrs('Техподдержка') %> />
			Техподдержка на год
		</label>
	</div>
</div>