﻿<style>
div.ama-biddings-zob110-orgr
{
	width:550px;
	margin:0 auto;
}
div.ama-biddings-zob110-orgr textarea
,div.ama-biddings-zob110-orgr input
{
	margin-left:30px;
	width:calc(100% - 30px);
}
div.ama-biddings-zob110-orgr textarea
{
	height:3.7em;
}
</style>
<div class="ama-biddings-zob110-orgr">

	<div>
		адрес электронной почты:<br/>
		<input type="text" value="<%= obj.txt('адрес_электронной_почты') %>" />
	</div>

	<div>
		номер контактного телефона:<br />
		<input type="text" value="<%= obj.txt('номер_контактного_телефона') %>" />
	</div>

	<div>
		почтовый адрес:<br />
		<input type="text" value="<%= obj.txt('почтовый_адрес') %>" />
	</div>

	<div>
		дополнительные cведения:<br/>
		<textarea <%= obj.textarea_attrs('дополнительные_сведения') %> ><%= obj.value() %></textarea>
	</div>

</div>