﻿<%
var r= (!obj 
	|| !obj.Организатор_торгов 
	|| !obj.Организатор_торгов.Информация_в_объявление_для_участников_торгов)
	? {}
	: obj.Организатор_торгов.Информация_в_объявление_для_участников_торгов;
%>
<div>
	<div>
		адрес электронной почты:
		<i><%= r.адрес_электронной_почты %></i>
	</div>
	<div>
		номер контактного телефона:
		<i><%= r.номер_контактного_телефона %></i>
	</div>
	<div>
		почтовый адрес:
		<i><%= r.почтовый_адрес %></i>
	</div>
	<% if (r.дополнительные_сведения) { %>
	<div>
		дополнительные cведения:
		<i><%= r.дополнительные_сведения %></i>
	</div>
	<% } %>
</div>
